body{
    background:grey;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-top: 10px;

}
h1{
    font-family:roboto;
    font-weight:bold;
    font-style: italic;

}
h4{
    font-family: cursive;
    font-weight: 700;
    font-style: oblique;
}
 img{
    width:100px;
    border-radius: 15px;
    padding:8px;
    box-shadow: 4px;
 }
 img:hover{
   border-radius:140px; 
 }
